.body{
    font-family: 'Droid Sans', sans-serif;
    font-size: 3em;
    color:#333;
}
#btnLogout, #btnLogin{
    position:fixed;
    top:10px;
    right:10px;
}
#splash{
    position: fixed;
    top:0;
    left:0;
    padding-top:12.5vh;
}
#splash img{
    max-height:75vh;
    margin:0 auto;
}
.background{
    background-image: url('/Content/RLBackground.png');
}
.brandName{
    font-family: 'Heebo', sans-serif;
    font-size:4em;
    color:white;
}
#btnDiscord{
    position:fixed;
    top:5px;
    right:5px;
    z-index:900;
}
.btn-warning{
    background-color:#f8be17;
    border-color:#f8be17;
}
#mainNav{
    background-color:#292929;
    border-radius:0;
}
#prlLogo{
    animation: rollY 2200ms;
}
#infoPanel{
    animation:rollX 1700ms;
}
@keyframes rollY {
    0% {
        transform: rotateY(0deg);
    }
    100% {
        transform: rotateY(360deg);
    }
}
@keyframes rollX {
    0% {
        transform: rotateX(0deg);
    }
    100% {
        transform: rotateX(360deg);
    }
}
.tooltip-inner {
    background-color: #f8be17;
    color: #FFFFFF;
    font-family: 'Heebo', sans-serif;
    padding: 5px;
    font-size: 2em;
    opacity:1;
}
.tooltip-arrow{
    border-bottom-color: #f8be17 !important;
}
#btnLogout{
    position:fixed;
    top:5px;
    right:5px;
    z-index:900;
    font-family: 'Heebo', sans-serif;
}
